*{
	font-family: 'Raleway', sans-serif;
}
/* Ejercicio 01 = index1 */
.ejercicio-uno{
	text-align: left;
	color: #000;
}
.parr-uno{
	background: #FFF315;
	padding: 3px 20px 20px 3px;

}

.parr-dos{
	background:#FF3D49;
	padding: 3px  20px 20px 3px;
	border:1px solid #000;
}

.parr-tres{
	background: #FFF315;
	padding: 3px  20px 20px 3px;
}

/* Ejercicio 02 = index2 */
.ejercicio-dos{
	text-align: left;
	color: #000;
	margin: 0 auto;
	width: 20%;
}

.box-uno{
	background: #FFF315;
	padding: 3px 20px 20px 3px;
	margin: 10px 0;
}

.box-dos{
	background:#FF3D49;
	padding: 3px 20px 20px 3px;
	margin: 10px 0;
}

.box-tres{
	background: #FFF315;
	padding: 3px 20px 20px 3px;
}

/* Ejercicio 03 = index3 */
.ejercicio-tres{
	text-align: center;
	margin: 0 auto;
	width: 30%;

}
.caja-uno{
	background: #FFF315;
	float: left;
	padding: 10px;
	margin-right: 8px;
}
.caja-dos{
	background:#FF3D49;
	float: left;
	padding: 10px;
	margin-right: 8px;
}
.caja-tres{
	background: #FFF315;
	float: left;
	padding: 10px;
}

/* Ejercicio 04 = index4 */
.ejercicio-cuatro{
	text-align: left;
	margin: 0 auto;
	width: 50%;

}
.caja-uno2{
	background: #FFF315;
	float: left;
	padding: 0 50px 30px 0;
	margin-right: 8px;
}
.caja-dos2{
	background:#FF3D49;
	float: left;
	padding: 0 50px 30px 0;
	margin-right: 8px;
}
.caja-tres2{
	background: #FFF315;
	float: left;
	padding: 0 50px 30px 0;
}

/* Ejercicio 05 = index5 */
.ejercicio-cinco div{
	height: 40px;
	width: 40px;
	border: 2px solid #000;
	background: #FFF315;
	display: block;
}

.cj-uno{
}

.contendor{
	height: 130px;
	width: 200px;
	background-color:#FF3D49;
	display: block;
	padding: 10px;
}
.box-one .box-two .box-three{
	float: left;
	display:inline;
}

